.botao-lg{
    width: 220px;
    height: 60px;
    font-size: 25px;
}


.tit-h2{
    font-size: 60px;
    width: 540px;
}

.img-personalizada{
    padding: 80px 50px;
}

.helpDesk{
    height: 350px;
}