.img{
    background-image: url(../../assets/imgs/page/citacao.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 700px;
}